<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjx.dao.CustomerServeMapper">
    <resultMap id="BaseResultMap" type="com.yjx.vo.CustomerServe">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="serve_type" jdbcType="VARCHAR" property="serveType"/>
        <result column="overview" jdbcType="VARCHAR" property="overview"/>
        <result column="customer" jdbcType="VARCHAR" property="customer"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="service_request" jdbcType="VARCHAR" property="serviceRequest"/>
        <result column="create_people" jdbcType="VARCHAR" property="createPeople"/>
        <result column="assigner" jdbcType="VARCHAR" property="assigner"/>
        <result column="assign_time" jdbcType="TIMESTAMP" property="assignTime"/>
        <result column="service_proce" jdbcType="VARCHAR" property="serviceProce"/>
        <result column="service_proce_people" jdbcType="VARCHAR" property="serviceProcePeople"/>
        <result column="service_proce_time" jdbcType="TIMESTAMP" property="serviceProceTime"/>
        <result column="service_proce_result" jdbcType="VARCHAR" property="serviceProceResult"/>
        <result column="myd" jdbcType="VARCHAR" property="myd"/>
        <result column="is_valid" jdbcType="INTEGER" property="isValid"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, serve_type, overview, customer, state, service_request, create_people,
        assigner, assign_time, service_proce, service_proce_people, service_proce_time,
        service_proce_result, myd, is_valid, create_date, update_date
    </sql>

    <insert id="insertSelective" parameterType="com.yjx.vo.CustomerServe" useGeneratedKeys="true" keyProperty="id">
        insert into t_customer_serve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serveType != null">serve_type,</if>
            <if test="overview != null">overview,</if>
            <if test="customer != null">customer,</if>
            <if test="state != null">state,</if>
            <if test="serviceRequest != null">service_request,</if>
            <if test="createPeople != null">create_people,</if>
            <if test="assigner != null">assigner,</if>
            <if test="assignTime != null">assign_time,</if>
            <if test="isValid != null">is_valid,</if>
            <if test="createDate != null">create_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serveType != null">#{serveType},</if>
            <if test="overview != null">#{overview},</if>
            <if test="customer != null">#{customer},</if>
            <if test="state != null">#{state},</if>
            <if test="serviceRequest != null">#{serviceRequest},</if>
            <if test="createPeople != null">#{createPeople},</if>
            <if test="assigner != null">#{assigner},</if>
            <if test="assignTime != null">#{assignTime},</if>
            <if test="isValid != null">#{isValid},</if>
            <if test="createDate != null">#{createDate},</if>
        </trim>
    </insert>
    <insert id="insertHasKey" parameterType="com.yjx.vo.CustomerServe" useGeneratedKeys="true" keyProperty="id">
        insert into t_customer_serve (serve_type, overview, customer, state, create_people, is_valid, create_date)
        values (#{serveType}, #{overview}, #{customer}, #{state}, #{createPeople}, #{isValid}, #{createDate})
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_customer_serve (serve_type, overview, customer, state, is_valid) values
        <foreach collection="list" item="item" separator=",">
            (#{item.serveType}, #{item.overview}, #{item.customer}, #{item.state}, #{item.isValid})
        </foreach>
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_customer_serve where id = #{id} and is_valid = 1
    </select>
    <select id="selectByParams" parameterType="com.yjx.query.CustomerServeQuery" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from t_customer_serve where is_valid = 1
        <if test="state != null and state != ''">
            and state = #{state}
        </if>
        <if test="customer != null and customer != ''">
            and customer like concat('%',#{customer},'%')
        </if>
        <if test="serveType != null and serveType != ''">
            and serve_type like concat('%',#{serveType},'%')
        </if>
        order by create_date desc
    </select>

    <select id="countByState" resultType="java.util.Map">
        select
            case state
                when 'fw_001' then '服务创建'
                when 'fw_002' then '服务分配'
                when 'fw_003' then '服务处理'
                when 'fw_004' then '服务反馈'
                when 'fw_005' then '服务归档'
                else '其他'
            end as name,
            count(1) as value
        from t_customer_serve where is_valid = 1
        group by state order by state
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="com.yjx.vo.CustomerServe">
        update t_customer_serve
        <set>
            <if test="serveType != null">serve_type = #{serveType},</if>
            <if test="overview != null">overview = #{overview},</if>
            <if test="customer != null">customer = #{customer},</if>
            <if test="state != null">state = #{state},</if>
            <if test="serviceRequest != null">service_request = #{serviceRequest},</if>
            <if test="assigner != null">assigner = #{assigner},</if>
            <if test="assignTime != null">assign_time = #{assignTime},</if>
            <if test="serviceProce != null">service_proce = #{serviceProce},</if>
            <if test="serviceProcePeople != null">service_proce_people = #{serviceProcePeople},</if>
            <if test="serviceProceTime != null">service_proce_time = #{serviceProceTime},</if>
            <if test="serviceProceResult != null">service_proce_result = #{serviceProceResult},</if>
            <if test="myd != null">myd = #{myd},</if>
        </set>
        where id = #{id}
    </update>
    <update id="updateBatch" parameterType="java.util.List"/>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        update t_customer_serve set is_valid = 0 where id = #{id}
    </delete>
    <delete id="deleteBatch" parameterType="java.lang.Integer">
        update t_customer_serve set is_valid = 0 where id in
        <foreach collection="array" item="item" open="(" separator="," close=")">#{item}</foreach>
    </delete>
</mapper>
